#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade

install

# Keyboard layouts

keyboard 'uk'

# Root password

rootpw --iscrypted $1$/V27Qc/N$xi6PcrfmvghGOI9/Yo70t0

# Use network installation

url --url="http://mirror.vorboss.net/centos/6.10/os/x86_64/"

# System language

lang en_US

# Firewall configuration

firewall --enabled

# System authorization information

authconfig  --enableshadow  --passalgo=sha512

# Use graphical install

graphical

firstboot --disable

# SELinux configuration

selinux --enforcing

# Reboot after installation

reboot

# System timezone

timezone Europe/London

# System bootloader configuration

#bootloader --location=mbr
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto"

# Partition clearing information

clearpart --all

# Automatic partitioning

autopart --type=plain --fstype=ext4

%packages

%packages
@core
@server-policy
@workstation-policy
nfs-utils
%end
 
## Reboot After Installation ##
reboot --eject
 
#### Auto execute post install commands ####
%post --interpreter /bin/sh --log=/root/ks-post.log
(

)
%end
