#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade

install

# Keyboard layouts

keyboard 'uk'

# Root password

rootpw --iscrypted $1$/V27Qc/N$xi6PcrfmvghGOI9/Yo70t0

# Use network installation

url --url="http://mirror.ox.ac.uk/sites/mirror.centos.org/8-stream/BaseOS/x86_64/os/"

# System language

lang en_US

# Firewall configuration

firewall --enabled

# System authorization information

auth  --useshadow  --passalgo=sha512

# Use graphical install

graphical

firstboot --disable

# SELinux configuration

selinux --enforcing

# Reboot after installation

reboot

# System timezone

timezone Europe/London

# System bootloader configuration

bootloader --location=mbr

# Partition clearing information

clearpart --all

# Automatic partitioning

autopart --type=plain --fstype=ext4

%packages

@^minimal-environment

@core

chrony

kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto

%end

%anaconda

pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty

pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty

pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty

%end

%post

#!/bin/bash

dnf update -y

dnf install epel-release -y

%end
