#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard 'uk'
# Root password
rootpw --iscrypted $1$/V27Qc/N$xi6PcrfmvghGOI9/Yo70t0
# Use network installation
#url --url="http://sunsite.rediris.es/mirror/CentOS/7/os/x86_64"
url --url="http://repo.uk.bigstepcloud.com/centos/8.1.1911/isos/x86_64/"
#cdrom
#url --url="ftp://10.147.190.111/pub/inst"
#url --url="ftp://192.168.1.110/pub/centos8"
# System language
lang en_US
# Firewall configuration
firewall --enabled
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use graphical install
graphical
firstboot --disable
# SELinux configuration
selinux --enforcing

# Reboot after installation
reboot
# System timezone
timezone Africa/Abidjan
# System bootloader configuration
bootloader --location=mbr
# Partition clearing information
clearpart --all

# Disk partitioning information
#part / --fstype="xfs" --size=10000
#part /boot --fstype="xfs" --size=500
#part /home --fstype="xfs" --size=15000
#part swap --fstype="swap" --size=8192

autopart --type=plain --fstype=ext4

%packages
@^minimal-environment
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
%post
#!/bin/bash

dnf update -y

#dnf install wget -y

#wget http://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-10.noarch.rpm

dnf install epel-release -y

#wget http://ftp.cc.uoc.gr/mirrors/repoforge/redhat/el7/en/x86_64/rpmforge/RPMS/rpmforge-release-0.5.3-1.el7.rf.x86_64.rpm

#rpm -Uvh rpmforge-release-0.5.3-1.el7.rf.x86_64.rpm

%end
